
.callCon {
    position: relative;
    display:table;
    width: 100%;
    height: 100%;
    .leftCon {
        position: relative;
        z-index: 1;
        width: 320px;
        height: 100%;
        border-right: 1px solid #E5E8F2;
        background-color: #F9F9FF;
        .box {
            border-top:1.5px solid #E5E8F2;
            border-bottom:1.5px solid #E5E8F2;
            background-color:#fff;
            margin-bottom: 8px;
        }
        .userBox {
            padding: 16px 34px 11px 34px;
            border-top: 0;
            dl.user {
                position: relative;
                padding:0 0 0 50px;
                dt {
                    padding:3px 0 0 0;
                    font-size: 15px;
                    line-height: 22px;
                    font-weight: bold;
                    strong {
                        position: relative;
                        top: -2px;
                        padding:1px 10px 0 10px;
                        height:21px;
                        display: inline-block;
                        font-size: 12px;
                        font-weight: 500;
                        border-radius: 15px;
                        background-color:#E5E8F2;
                    }
                }
                dd {
                    font-size: 13px;
                    color:#BDBDBD;
                    &.img {
                        position: absolute;
                        top:0;
                        left:0;
                        margin: 0;
                        border:2px solid #2F80ED;
                        border-radius: 50%;
                        img {
                            border:2px solid #fff;
                            width:38px;
                            height:38px;
                            border-radius: 50%;
                            vertical-align: top;
                        }
                    }
                }
            }
            .stateBtn {
                padding-top: 8px;
                padding-bottom: 15px;
                ul {
                    display: table;
                    padding: 0;
                    width: 100%;
                    border-radius: 4px;;
                    border: 1px solid #6D8DFF;
                    li {
                        list-style: none;
                        float:left;
                        border-right: 1px solid #6D8DFF;
                        a {
                            display:inline-block;
                            padding-top:2px;
                            width:60px;
                            font-size: 12px;
                            font-weight: bold;
                            line-height:26px;
                            text-align:center;
                        }
                        &.on {
                            a {
                                background-color:#6D8DFF;
                                color:#fff;
                            }
                        }
                        &:last-child {
                            border-right:0;
                            a {
                                padding-left:14px;
                                text-align: left;
                                width:66px;
                            }
                        }
                    }
                }
            }
            .txtBtn {
                display:table;
                width: 100%;
                span {
                    float:left;
                    width: 33.33%;
                    line-height:24px;
                    text-align: center;
                    border-right: 1px solid #DFE3E8;
                    a {
                        color: #737373;
                        font-size:12px;
                    }
                    &:last-child {
                        border-right:0;
                    }
                }
            }
        }
        .memberBox {
            ul.list {
                padding:10px 0 10px 22px;
                li {
                    position: relative;
                    list-style: none;
                    padding: 5px 0 5px 20px;
                    font-size: 14px;
                    line-height: 19px;
                    color:#121212;
                    &::after {
                        content: '';
                        position: absolute;
                        top:50%;
                        left:0;
                        margin-top:-7px;
                        width:12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: #6D8DFF;
                    }
                    &.on {
                        &::after {
                            background-color: #6D8DFF;
                        }
                    }
                }
            }
        }
    }
}